@import "tailwindcss";

*{
  user-select: none;
}
@font-face {
  font-family: shalyne;
  src: url("./assets/fonts/shalyne-typeface-personal-use-only/Shalyne\ Typeface\ PERSONAL\ USE\ ONLY.otf");
}
@font-face {
  font-family: kugile;
  src: url("./assets/fonts/kugile/Kugile_Demo.ttf");
}
.bgImage1{
  background-image: url("./assets/images/shop/sera-iZgQKxuMRHc-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.bgImage2{
  background-image: url("./assets/images/flower/flower3.webp");
  background-size: cover;
  background-position: 65%;
}
.font-shalyne{
  font-family: shalyne;
}
.font-kugile{
  font-family: kugile;
}
.bg-Blur{
  backdrop-filter: blur(3px);
}